body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #293538;
    align-content: center
}

#introducingText {
    position: relative;
    color: rgb(122, 217, 255);
    font-family: cursive;
    font-size:100px;
    line-height: 1;
    visibility: hidden;
}

#bookvaultText {
    color: rgb(132, 255, 0);
    font-weight:bolder;
    font-size: 100px;
    line-height: 0.1;
    visibility: hidden;
}

#millionbooksText {
    color: rgb(140, 255, 0);
    line-height: 0.1;
    padding-bottom: 5%;
    visibility: hidden;
    font-size: 38px;
}

#downloadButtonFrame {
    padding-top: 10%;
    border-radius: 5px;
    cursor: pointer;
}

#downloadButton {
    background-color: white;
    padding: 15px 25px;
    color: black;
    font-size: 38px;
    border-radius: 10px;
    text-decoration: none;
    visibility: hidden;
}

#downloadButton:hover {
    background-color: #cbcbcb;
}

#availableforText {
    color: white;
    visibility: hidden;
    font-size: 30px;
}

#appIcon {
    border-radius: 35px;
    visibility: hidden;
}